body{
    font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}
.top-banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.banner-text{
    color: white;
    text-align: center;
    justify-content: center;
    display: list-item;
    padding-top: 8%;
    font-size: xx-large;
}
.banner-text p{
    font-size: 70%;
}
.donate-button{
    text-decoration: none;
    background-image: linear-gradient(red, red);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.donate-today{
    text-align: center;
    justify-content: center;
    display: list-item;
    padding-top: 20px;
}
.donate-today h1{
    font-size: xx-large;
    color: black;
    padding-top: 20px;
}
.amount{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 30%;
   margin-right: 30%;
   margin-bottom: 30px; 
   border-radius: 10px;   
} 
.donate-amount{
    display: flex;
   align-items: center;
   justify-content: center;
    background: #fafafa;
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border-radius: 5px;
}
.special-amount{
    display: flex;
   align-items: center;
   justify-content: center;
    background: #ffeeee;
  border: 2px solid #ff5959;
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border-radius: 5px;
}
.amount-type{
    display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 15px;
}
.another-amount{
   text-align: center;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 40%;  
}
.socity-main{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 20%;
   margin-right: 20%;
   margin-bottom: 20px; 
   border-radius: 0px; 
    gap: 30px;

}
.socity-banner{
    padding: 20px;
    border-radius: 10px;
}
.donate-people{
    display: flex;
    margin-bottom: 20px;
    padding-left: 400px;
    padding-right: 200px;
    padding-top: 40px;
    width: 60%;
    gap: 40px;
}
.donate-people img{
    width: 100%;
    border-radius: 30px;
}
.writing{
    padding-top: 10px;
}
.email-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 50vw;
    background-color: rgb(142, 226, 226);
}
.special-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 20px;

}
.s-button {
    height: 35px;
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 20%;

}

.e-button {
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    background-color: rgb(218, 211, 211);
}
.footer{
    text-align: center;
    background-color: black;
    color: white;    
}
.footer-color{
    margin-top: 5%;
    color:  red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer h1{
    padding-top: 30px;
}
.footer p{
    padding-bottom: 30px;
}

