body{
    font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}
.top-banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.banner-text{
    color: white;
    text-align: center;
    width: 50%;
}
.banner-text h1{
    font-size: 50px;
    margin: 0px;
}
.banner-text p{

    font-size: 20px;
}
.donate-button{
    text-decoration: none;
    background-image: linear-gradient(red, red);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.donate-today{
    text-align: center;
    justify-content: center;
    display: list-item;
    padding-top: 20px;
}
.donate-today h1{
    font-size: xx-large;
    color: black;
    padding-top: 20px;
}
.amount{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 30%;
   margin-right: 30%;
   margin-bottom: 30px; 
   border-radius: 10px;   
} 
.donate-amount{
    display: flex;
   align-items: center;
   justify-content: center;
    background: #fafafa;
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border-radius: 5px;
}
.special-amount{
    display: flex;
   align-items: center;
   justify-content: center;
    background: #ffeeee;
  border: 2px solid #ff5959;
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border-radius: 5px;
}
.amount-type{
    display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 15px;
}
.another-amount{
   text-align: center;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 40%;  
}
.socity-main{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px; 
   border-radius: 0px; 
    gap: 30px;
    padding: 0px 15%;
    margin-top: 30px;

}
.socity-banner{
    padding: 20px;
    border-radius: 10px;
}

.contribute{
    padding: 0px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}


.contribute img{
    width: 90%;
    border-radius: 10px;
}
.email-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 50vw;
    background-color: rgb(142, 226, 226);
}
.special-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 20px;

}
.s-button {
    height: 35px;
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 20%;

}

.e-button {
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    background-color: FFF4D6;
}
.extra-section{
    padding: 0% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;

}
.h-color{
    color: red;
    font-size: 50px;
}

.extra-section-form{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.extra-form{
    width: 100%;
}

.extra-input{
    width:80%;
        padding: 10px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}


.extra-button{
    width: 82%;
    padding: 20px;
    height: 60px;
    margin-bottom: 20px;
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 0;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;    
}
.footer-color{
    margin-top: 5%;
    color:  red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer h1{
    padding-top: 30px;
}
.footer p{
    padding-bottom: 30px;
}